:root
{
    --main-size: 75px;
    --main-size-md: 30px;
}

*
{
    box-sizing: border-box;
}

header
{
    margin: none;
    display: flex;
    padding: 0;
    align-items: center;
    background-color: rgb(212, 212, 212);
}

header h1
{
    text-align: center;
    font-size: 21px;
    flex: 1;
    color: darkblue;
    text-shadow: gray 1px 1px 1px;
    text-transform: uppercase;
}

html, body
{
    margin: 0;
    display: flex;
    flex-direction: column;
    height: 100%;
}

#logo-camer
{
    width: var(--main-size);
    height: var(--main-size);
    margin: 5px;
}

#logo
{
    width: var(--main-size);
    height: var(--main-size);
    margin: 5px;
}

#container
{
    display: flex;
    flex: 1;
    /*border: solid black 1px;*/
    position: relative;
    transition: all 500ms ease-in-out;
}

#left-menu
{
    border: solid 1px rgba(0, 0, 0, 0.363);
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.363);
    margin: 2px;
    padding: 5px;
    background-color: rgba(68, 67, 67, 0.473);
    color: black;
    width: 300px;
    position: absolute;
    top: 0;
    left: -305px;
    bottom: 0;
    overflow: auto;
    transition: all 500ms ease-in-out;
    z-index: 10000;
    backdrop-filter: blur(2px);
}

#left-menu h2
{
    text-transform: uppercase;
    font-size: 15px;
    text-align: center;
    padding: 8px 27px;
    position: relative;
}

#leaflet-space
{
    /*border: solid 1px black;*/
    flex: 1;
    margin: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#leaflet-space h1
{
    text-align: center;
}

#show-navbar
{
    margin-left: 15px;
    font-size: 32px;
    color: black;
}

#show-navbar i
{
    padding: 5px;
    border: 1px black solid;
    border-radius: 5px;
    width: 50px;
    text-align: center;
    transition: color 500ms, border 500ms;
}

#show-navbar i:hover
{
    color: blue;
    border-color: blue;
}

#show-navbar i:active
{
    color: green;
    border-color: green;
}

.h-title
{
    font-weight: bold;
    display: flex;
    align-items: center;
    margin-bottom: 12px;
    font-size: 18px;
    margin-left: 10px;
}

.h-title .point
{
    border: solid rgb(53, 53, 53) 1px;
    box-shadow: gray 1px 1px 1px;
    width: 12px;
    height: 12px;
    margin-right: 5px;
}

#color-green
{
    border-color: green;
    background-color: green;
}

#color-yellow
{
    border-color: yellow;
    background-color: yellow;
}

#color-red
{
    border-color: red;
    background-color: red;
}

.h-options
{
    margin-left: 30px;
    margin-right: 10px;
}

.h-options div
{
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
    align-items: center;
}

.color-box
{
    border: solid 1px black;
    width: 25px;
    height: 15px;
}

#categorie-list
{
    display: flex;
    justify-content: space-between;
    margin: 15px 15px;
}

.categorie-elt
{
    display: flex;
    flex-direction: column;
}

.categorie-elt label
{
    margin-top: 5px;
}

.search-box
{
    position: relative;
    margin: 7px 15px 20px 15px;
    font-size: 15px;
}

.search-box i
{
    position: absolute;
    right: 5px;
    top: 50%;
    transform: translateY(-50%);
}

.search-box i:hover
{
    cursor: pointer;
}

.search-box input[type="search"]
{
    width: 100%;
    font-size: 18px;
    padding: 5px 20px;
    border: solid 1px rgba(0, 0, 0, 0.363);
    border-radius: 10px;
    background-color: transparent;
}

#container.reduced
{
    margin-left: 305px;
}

.nav-dropdown-menu
{
    cursor: pointer;
    transition: all 500ms ease-out;
    border: solid rgba(0, 0, 0, 0.363) 1px;
    display: flex;
    flex-direction: row;
}

.nav-dropdown-menu .title
{
    flex: 1;
}

.nav-dropdown-menu i
{
    transition: all 500ms ease-in-out;
}

/**********************/
.nav-dropdown-menu.active i
{
    transform: rotate(-180deg);
}

/**************************/
.nav-dropdown-content
{
    display: none;
}

.nav-dropdown-menu:hover
{
    background-color: rgba(69, 72, 243, 0.096);
}

.floating-btn
{
    border-radius: 100%;
    background-color: dodgerblue;
    color: white;
    font-size: 25px;
    padding: 15px 20px;
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 0 15px 15px 0;
    z-index: 10000;
    cursor: pointer;
    box-shadow: 1px 1px 10px gray;
    opacity: 0.8;
}

.floating-btn:hover
{
    opacity: 1;
}

.popup-image
{
    width: 75px;
    height: 75px;
}

table tr:nth-child(1)
{
    font-weight: bold;
}

table
{
    border-collapse: collapse;
}

td
{
    border: black solid 1px;
}

@media all and (max-width: 512px)
{
    header h1
    {
        font-size: 12px;
    }

    #logo-camer
    {
        width: var(--main-size-md);
        height: var(--main-size-md);
        margin: 5px;
    }

    #logo
    {
        width: var(--main-size-md);
        height: var(--main-size-md);
        margin: 5px;
    }

    #container.reduced
    {
        margin-left: 0;
    }

    #left-menu.reduced
    {
        left: 0;
    }

    #show-navbar
    {
        font-size: 20px;
    }

    #show-navbar i
    {
        padding: 5px;
        width: 30px;
        text-align: center;
        transition: color 500ms, border 500ms;
    }
}